* {
  padding: 0;
  margin: 0;
  vertical-align: top;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% de la hauteur de la fenêtre */
  background-color: #fccf03;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 10%;
}

/* ================HEADER===================== */

header {
  background-color: #348feb;
  color: white;
}

h2 {
  text-align: center;
  margin: 5px auto 10px auto;
}

#head {
  width: 100%;
  object-fit: cover;
  height: auto;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  flex-grow: 1;
}

/* ==================NAVBAR========================== */

nav {
  color: white;
  background-color: #348feb;
  max-width: 120px;
  width: 100%;
  height: 7.5em;
  padding: 0.5rem 2rem;
  margin-top: 30px;
  margin-left: 0.5rem;
  text-align: center;
  flex: 1;
}

ul {
  list-style: none;
}

a:visited {
  color: rgb(255, 255, 255);
}

a:hover,
a:active {
  color: #eee;
}

/* ======================ARTICLE========================== */

article {
  padding: 40px;

  width: calc(50% - 0.5rem);
  max-width: 800px;
  flex: 2;
}
article > p {
  text-align: justify;
}

h1 {
  color: #fccf03;
  text-align: left;
  margin-bottom: 20px;
}

/* =====================ASIDE================= */

aside {
  color: white;
  background-color: #348feb;
  max-width: 220px;
  width: 100%;
  height: 29em;
  padding: 0.5rem 2rem;
  margin-top: 30px;
  margin-right: 0.5rem;
  margin-bottom: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
}

aside > p {
  text-align: justify;
  flex: 2;
  font-weight: bold;
}

#Matt {
  max-width: 150px;
  flex: 1;
  border: 1px solid white;
}

/* ======================FOOTER========================= */

footer {
  background-color: #113582;
  color: white;
  height: 35px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding-top: 10px;
  margin-top: auto;
}
